@import 'setup';

$globalGrey: #f9f9f9;
$bodytext: #444;
$bodyfont: 'Montserrat', sans-serif;
$headingfont: 'Quicksand', sans-serif;


//global styles
body {
    height: 100vh;
    width: 100vw;
    background: url('../../assets/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 62.5%;
    color: $bodytext;
    font-family: $bodyfont
}
img {
    width: 50px;
    fill: $bodytext;
}
#app {
    position: relative;

    h2 {
        position: absolute;
        top: 0;
        text-shadow: 0 0 20px $globalGrey;
        font-weight: 300;

    }
    .headerFixed {
            h1 {
            position: fixed;
            left: -30px;
            writing-mode: vertical-lr;
            transform: rotate(180deg);
            color: $globalGrey;
            text-transform: uppercase;
            text-shadow: 0 0 20px black;
            font-family: $headingfont;
            font-size: 4rem;
        }
    }
    .inputResultContainer{
        display: flex;
        flex-direction: row;
        grid-gap: 50px;
        width: 100%;
        padding: 50px;
        padding-left: 100px;
        ul {
            padding: 0;
            display: grid;
            grid-template-columns: 1fr 1fr;
            li {
                transition: 0.3s;
                list-style-type: none;
                img {
                    float: left;
                }
            }
        }
        .routineInput {
            width: 50%;
        }
        form,
        .footerText,
        .results {
            background: transparentize($globalGrey, 0.2);
            border-radius: 20px;
            padding: 40px;
            margin: 5%;
            box-shadow: 0 0 100px #666;
            transition: 0.3s;
            margin-left: 0;
        }
        form {
            margin-top: 0;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr;
            text-align: center;
        }
        form:hover,
        .footerText:hover,
        .results:hover {
            background:transparentize($globalGrey, 0.1);
        }
        .footer-text {
            margin-bottom: 0;
        }
        .results {
            width: 50%;
        }
    }
    .visuallyhidden:not(:focus){
        display: none;
    }
}