@import 'setup';

$globalGrey: #f9f9f9;
$bodytext: #444;
$bodyfont: 'Montserrat', sans-serif;
$headingfont: 'Quicksand', sans-serif;
$hipsterPurple: #7E6872;
$differentPurple: #AC9092;

//global styles

@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}


.tracking-in-expand {
	-webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
.slide-in-right {
	-webkit-animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

body {
    min-height: 100vh;
    width: 100vw;
    background: url('../../assets/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 62.5%;
    color: $bodytext;
    font-family: $bodyfont
}
img {
    width: 50px;
    fill: $bodytext;
}

a {
    color: $hipsterPurple;
    text-decoration: none;
    transition: 0.2s;
}
a:hover {
    color: $differentPurple;
    border-bottom: 2px solid $differentPurple;
}
h1 {
    color: $globalGrey;
    text-transform: uppercase;
    text-shadow: 0 0 20px $hipsterPurple;
    font-family: $headingfont;
    font-size: 4rem;
}

#app {
    position: relative;
    h2 {
        position: absolute;
        top: 0;
        color: $globalGrey;
        text-shadow: 0 0 10px $globalGrey;
        font-weight: 300;
        letter-spacing: 3px;
        text-transform: uppercase;

    }
    .responsive {
        display: none;
    }
    
    .headerFixed {
            h1 {
            position: fixed;
            left: -30px;
            writing-mode: vertical-lr;
            transform: rotate(180deg);
        }
    }
    .routineInput {
        width: 50%;
        .responsiveShift {
            display: none;
        }
    }
    @media (max-width:730px) {
        .routineInput {
            width: 100%;
        }
    }
    .inputResultContainer{
        display: flex;
        flex-direction: row;
        grid-gap: 50px;
        width: 100%;
        padding: 50px;
        padding-left: 100px;
        ul {
            padding: 0;
            display: grid;
            grid-template-columns: 1fr 1fr;
            li {
                transition: 0.3s;
                list-style-type: none;
                img {
                    float: left;
                }
            }
        }


        .selectContainer,
        .footerText,
        .yourRoutine {
            background: transparentize($globalGrey, 0.2);
            border-radius: 20px;
            padding: 25px;
            box-shadow: 0 0 100px #666;
            transition: 0.3s;
        }
        .footerText {
            margin-top: 25px;
        }
        .routineInput {
            margin-right: 5%;
        }

        .yourRoutine {
            h3 {
                text-transform: uppercase;
                letter-spacing: 3px;
                font-size: 1rem;
                text-align: right;
                margin-bottom: 0;
            }
        }

        @media (max-width: 730px) {
            .results {
                display: none
            }
            .responsiveShift {
                display: inline-block;
            }
            .selectContainer,
            .yourRoutine, {
                margin: 25px 0 ;
            }
            
        }
        form {
            display: grid;
            grid-gap: 3%;
            grid-row-gap: 15px;
            grid-template-columns: 31% 31% 31%;
            grid-template-rows: 1fr 1fr 1fr 1fr;
            text-align: center;

            label {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100px;
                border-radius: 20px;
                width: 100%;
                box-shadow: 0 0 20px #999;
                text-transform: uppercase;
                letter-spacing: 2px;
                transition: 0.3s;
            }
            label:hover,
            input[type="checkbox"]:checked+label {
                box-shadow: 0 0 20px #666;                    
            }
            input[type="checkbox"]:checked+label {
                border: 1px solid $hipsterPurple;
            }
        }
        @media (max-width: 1020px) {
            form {
                grid-template-columns: 50% 50%;
                label {
                    height: 60px;
                }

            }
        }
        .selectContainer:hover,
        .footerText:hover,
        .yourRoutine:hover {
            background:transparentize($globalGrey, 0.1);
        }
    }
    @media (max-width: 500px) {
        .inputResultContainer {
            padding: 50px 15px;
            display: flex;
            flex-direction: column;
            h1 {
                padding: 30px 0 0 0;
                font-size: 11vw;
                width: 100%;
                position: relative;
                img {
                    display: none;
                }

            }
            .responsive {
                display: inline;
            }
            .headerFixed {
                h1 {
                    display: none;
                }
            }
            // padding: 50px 15px;
            .routineInput {
                clear: both;
                margin-right: 0
            }
        }
    }

    h5 {
        font-size: 1.4rem;
        color: $hipsterPurple;
        display: inline-block;
        padding: 1%;
        margin: 0 0 10px 0;
        text-transform: uppercase;
    }
    .results {
        width: 50%;
        position: relative;
        
        .resultsStep {
            clear: both;
            height: auto;
        }
        
    }
    .yourRoutine {
        .description {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
        }
        img {
            float: left;
            margin-right: 10px;
        }
    }
    .visuallyhidden:not(:focus){
        display: none;
    }
    
}